@import 'Sass/helpers/variables';
$float-left: right;
$float-right: left;
$text-left : right;
$text-right : left;
.header {
    .logo {
        .the-toggler
        {
            right: auto;
            left: 15px;
        }
        @media #{$minMedium} {

            float: $float-left;
            text-align: $text-left;
        }
    .navbar {
        float: $float-left;
        @media #{$minMedium} {
            float: $float-left;
        }


        li {
            float: $float-left;


            @media #{$maxMobile} {

                text-align: $text-left;
            }

        }

    }
}
}


/* start Slider*/


/* end Slider*/
/* start Services*/
.services {

    .service-box {
        @media #{$minMedium} {
            float: $float-left;

        }
        }

        ;

}

/*End Services*/
/* start our player*/
.our-players {

    .player-box {

        // padding-right: 20px;
        @media #{$minSmall} {
            float: $float-left;
        }

        @media #{$minMedium} {
            width: (100% / 3);
            text-align: $text-left ;
        }


        }

        ;
    }

/*start lorem ipsum*/
.lorem-ipsum {
    .lorem-box {

        @media #{$minSmall} {
            float: $float-left;

        }


        
    }
}

/*end lorem ipsum*/

/*End oer player*/

.footer {
    
    .gallery,
    .info,
    .contact {
        float: $float-left;
    }

            img {
                @media #{$minSmall} {
                    float: $float-left;
                }
            }

            .text-gallery {
                @media #{$minSmall} {
                    float: $float-left;
                }


            }
        }


    


    .copyright {

        .copy-text,
        .author {
            @media #{$minSmall} {
                float: $float-left;
            }
        }

        .author {

            @media #{$minSmall} {
                text-align: $text-right;
            }
        }


}