.header
{
    padding: 20px 0;
    overflow: hidden;
    border-bottom: 1px solid $grayColor;
    .logo
    { 
        position: relative;
        @media #{$minSmall}
        {
            width:100%;
            float: none;
            text-align: center;


        }
        @media #{$minMedium} {
            width: 30%  ; 
            float: $float-left;
            text-align: $text-left; 
        }
        h1{

            margin-bottom: 0;
            margin-top: 10px;
        }
        p {
            font-size: 15px;

        }

    }
    .navbar {
        overflow: hidden;
        width: 70%;
        float: $float-left;
        background-color: $redColor;
        border-radius: 15px;
        @media #{$minSmall} {
                width: 100%;
                float: none;
                margin-top: 30px;
        
        
            }
            @media #{$minMedium} {
                width: 70%;
                float: $float-left;
                margin-top: 1em;
                display: block !important;
            }
            @media #{$maxMobile} {
                display: none;
                border-radius: 0;
                width: 100%;
            }
        li {
            width: 20%;
            float: $float-left;
            font-size: 20px;
            text-align: center;
            @media #{$maxMobile} {
                    float: none;
                    width: 100%;
                    display: block;
                    text-align: $text-left;
                    padding: 
                    {
                        right: 10px;
                        left: 10px;
                    }
            
                }
            a { 
                font-size: 16px;
                display: block;
                text-transform: uppercase;
                padding: 20px 10px ;
                color: #fff;
                text-decoration: none;
                &:hover
                {
                    color: #ddd;
                }

            }

        }

    }
}